---
import Footer from "../../../components/base/Footer/Footer.astro";
import Header from "../../../components/base/Header/Header.astro";
import WorkDetail from "../../../components/pages/works/WorkDetail.astro";
import Layout from "../../../layouts/Layout.astro";
import Main from "../../../layouts/Main.astro";
import { client } from "../../../lib/contents";
const { slug } = Astro.params;
const id = [slug];
const work = await client.getListDetail({
  endpoint: "blogs",
  queries: {
    ids: [id],
  },
});
---

<Layout
  title={`${work.contents[0].title}｜Takuya Fujikawa Portfolio`}
  description={work.contents[0].outline}
  robots="noindex, nofollow"
>
  <Header />
  <Main>
    <WorkDetail workData={work.contents[0]} />
  </Main>
  <Footer />
</Layout>
