---
import Footer from "../../components/base/Footer/Footer.astro";
import Header from "../../components/base/Header/Header.astro";
import Works from "../../components/pages/works/Works.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../layouts/Main.astro";
---

<Layout>
  <Header />
  <Main>
    <Works />
  </Main>
  <Footer />
</Layout>
