---
import Footer from "../../components/base/Footer/Footer.astro";
import Header from "../../components/base/Header/Header.astro";
import Profile from "../../components/pages/profile/Profile.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../layouts/Main.astro";
---

<Layout
  title="Takuya Fujikawa Portfolio"
  description="UIデザイナー・Webエンジニアの藤川拓也のポートフォリオサイトです。"
  robots="noindex, nofollow"
>
  <Header />
  <Main>
    <Profile />
  </Main>
  <Footer />
</Layout>
