---
const { level, class: className } = Astro.props as {
  level: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  class: string;
};
---

{
  level === "h1" && (
    <h1 class:list={[className, "heading"]}>
      <slot />
    </h1>
  )
}
{
  level === "h2" && (
    <h2 class:list={[className, "heading"]}>
      <slot />
    </h2>
  )
}
{
  level === "h3" && (
    <h3 class:list={[className, "heading"]}>
      <slot />
    </h3>
  )
}
{
  level === "h4" && (
    <h4 class:list={[className, "heading"]}>
      <slot />
    </h4>
  )
}
{
  level === "h5" && (
    <h5 class:list={[className, "heading"]}>
      <slot />
    </h5>
  )
}
{
  level === "h6" && (
    <h6 class:list={[className, "heading"]}>
      <slot />
    </h6>
  )
}
<style>
  .heading {
    --fluid-min: calc(40 * var(--to-rem));
    --fluid-max: calc(64 * var(--to-rem));
    font-size: var(--fluid-size);
    font-weight: 500;
    line-height: 1.25;
    margin: 0;
    margin-block-end: calc(24 * var(--to-rem));
    @media (width <= 768px) {
      margin-block-end: calc(16 * var(--to-rem));
    }
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
</style>
