---
import Footer from "../components/base/Footer/Footer.astro";
import Header from "../components/base/Header/Header.astro";
import KeyVisual from "../components/pages/index/KeyVisual.astro";
import Works from "../components/pages/index/Works.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
---

<Layout
  title="Takuya Fujikawa Portfolio"
  description="UIデザイナー・Webエンジニアの藤川拓也のポートフォリオサイトです。"
  robots="noindex, nofollow"
>
  <Header />
  <Main>
    <KeyVisual />
    <Works />
  </Main>
  <Footer />
</Layout>
