---
import "@fontsource-variable/geist";
import "@fontsource-variable/noto-sans-jp";
import "@fontsource/libre-barcode-128";
import "kiso.css";
import "../styles/global.css";
const { title, description, robots } = Astro.props as {
  title: string;
  description: string;
  robots?: string;
};
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Takuya Fujikawa Portfolio"}</title>
    <meta
      name="description"
      content={description || "Takuya Fujikawa Portfolio"}
    />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <slot />
  </body>
</html>
